body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrap {
  width: 100%;
  display: flex;
}

.a1 {
  min-height: 100vh;
}

.a2 {
  border: 1px solid green;
}

.gutter {
  background: rgba(0, 0, 0, 0.05);
  flex-shrink: 0;
}

.gutter-horizontal {
  cursor: ew-resize;
}